@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
  --font-family-sans: Nunito, sans-serif;
}

/* layout styles */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-primary);
  color: #FFF;
  border-bottom: 1px solid #FFF;
  font-size: 1.75em;
  z-index: 99;
  transition: all 1s;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #FFF;
  background-color: #FFF;
  z-index: 99;
}

main { padding: 1em 0; }
section { padding: 1em 0; }
fieldset { margin-bottom: 1em; }
.col.disable-small-reduction { flex: 1 !important; margin: 0 calc(var(--grid-gutter)/2); }
h1, h2, h3, h4, h6 { margin: 0.25em 0; }

.bottom-margin-05 { margin-bottom: 0.5em; }
.top-margin-05 { margin-top: 0.5em; }
.bottom-margin-15 { margin-bottom: 1.5em; }
.top-margin-15 { margin-top: 1.5em; }

.top-padding-05 { padding-top: 0.5rem; }
.bottom-padding-05 { padding-bottom: 0.5rem; }
.top-padding-15 { padding-top: 1.5rem; }
.bottom-padding-15 { padding-bottom: 1.5rem; }

/* device specific styles */
@media (not(hover: hover)) and (not(pointer: fine)) {
  .hide-on-phone { display: none; }
}
@media (hover: hover) and (pointer: fine) {
  .hide-not-on-phone { display: none; }
}

/* button tweaks */
button { font-weight: normal !important; }
.button.outline { background-color: transparent; }
.button.outline.error { border-color: var(--color-error); color: var(--color-error); }
.button.outline.error:hover { background-color: var(--color-error); color: #fff; }
.button.outline { background-color: transparent; }
.button.outline.primary { border-color: var(--color-primary); color: var(--color-primary); }
.button.outline.primary:hover { background-color: var(--color-primary); color: #fff; }

/* meter */
.meter-holder { 
  width: 100%;
  display: inline-block;
  padding-top: 1.6em; 
}
div.meter{ 
  background-color: var(--color-lightGrey);
  width: 100%; 
  border-style: none;
  height: 5px; 
  border-radius: 2px; 
  display: block;
  position: relative;    
}
div.meter::before {
  position: absolute; 
  top: calc(-5px - 1.6em); 
  content: attr(data-before);  
}

div.meter > div {
  background-color: var(--color-primary); 
  height: 5px; 
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;         
}

/* stored 'item' and metadata */
.item { margin: 0.25em 0; }
.item > span{
  display: inline-block;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  border: 1px solid var(--color-lightGrey);
  font-size: 1em;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.item span > a { margin-left: 0.5em; }

/* pills */
.pill { display: inline-block; color: #fff; font-size: 0.7em; margin: 0.25em 0; }
.pill > * { padding: 0.25em 0.7em; background-color: #a0a0a0; white-space: nowrap;}     
.pill > *:not(:last-child) { margin-right: 1px; }
.pill > *:first-child { border-bottom-left-radius: 0.4em; border-top-left-radius: 0.4em; }
.pill > *:last-child { border-bottom-right-radius: 0.4em; border-top-right-radius: 0.4em; }
.pill > *:last-child { background-color: var(--color-primary); }

/* printing QR code styles */
.to-print { text-align: center; }
.to-print > div { display: inline-block; width: 4cm; border: solid 1px #aaa; padding: 0cm 0.2cm; margin: 0.2cm 0; }
.ident {
  padding: 0.1cm;
  font-size: 1.5em;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  color: #FFF;
  background-color: var(--color-primary) !important;
  margin: 0.2cm 0;
}

/* print styles */
@media print {
  header, footer, section:not(.to-print) { display: none; }
  * { margin: 0; padding: 0; }
  .to-print { text-align: unset; }
}