{% macro link_pill(url, parts) -%}
<a class="pill" href="{{url}}" target="_blank">{%- for part in parts -%}<part>{{part}}</part>{%- endfor -%}</a>
{%- endmacro -%}

<!DOCTYPE html>
<html>
  <head>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('send_static', path='icons/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('send_static', path='icons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('send_static', path='icons/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('send_static', path='icons/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('send_static', path='icons/safari-pinned-tab.svg') }}" color="#c0a890">
    <link rel="shortcut icon" href="{{ url_for('send_static', path='icons/favicon.ico') }}">
    <meta name="msapplication-TileColor" content="#c0a890">
    <meta name="msapplication-config" content="{{ url_for('send_static', path='icons/browserconfig.xml') }}">
    <meta name="theme-color" content="#c0a890">

    <!-- EXISTING -->
    <meta http-equiv='content-type' content='text/html; charset=utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge' >
    <title>Where The ?!?</title>    
    <link rel="stylesheet" href="{{url_for('send_static', path='chota.0.7.2.min.css')}}">
    <link rel="stylesheet" href="{{url_for('send_static', path='styles.css')}}">

    <style>
      /* Configurable styles */
      :root { --color-primary: {{PRIMARY_COLOR}} !important; }     
    </style>

    <script src="{{url_for('send_static', path='jquery.3.5.1.min.js')}}"></script>
    <script src="{{url_for('send_static', path='html5-qrcode.min.js')}}"></script>
  </head>  

  <!-- TODO: DARK MODE -->  
  <body>

    {% block header %}
    <header>
      <div class="container">
        <a style="color: #FFF;" href="{{url_for('home')}}">Where The ?!?</a>
      </div>
    </header>
    {% endblock %}  

    {% block main %}
    <main>  
      <div class="container">
      Template error... no rewriting of block 'main'
      </div>
    </main>
    {% endblock %}      

    <div class="footer text-center top-margin-30">
      <div class="container">
        <small>Git Revision: <span title="{{git_revision.timestamp}} : {{git_revision.subject}}">{{git_revision.hash}} </span>{% if git_revision.modified %} - MODIFIED{% endif %}</small>
        {{ link_pill("https://github.com/danricho/where_the", ["feedback via", "GitHub"]) }}
      </div>
    </div>

    {% block footer %}
    {#
    <footer class="text-center">
      <div class="container">
        <small>Git Revision: <span title="Commit Message: {{git_revision.subject}}">{{git_revision.hash}} ({{git_revision.timestamp}})</span>{% if git_revision.modified %} - MODIFIED{% endif %}</small>
        {{ link_pill("https://github.com/danricho/where_the", ["feedback via", "GitHub"]) }}
      </div>
    </footer>#}
    {% endblock %}
        
  </body>

  {% block height_script %}
  <script>
    $('main').css('margin-top', $('header').height()).css('margin-bottom', $('footer').height());
  </script>  
  {% endblock %}

  </body>
</html>
