{% extends "base.j2.html" %}
{% block main %}
<main>  
  <div class="container">

    <section class="text-center">
      <img id="logo" src="{{url_for('send_static', path="logo.svg")}}" style="max-width: 150px;"/>
    </section>

    <section class="hide-not-on-phone">
      <div id="qr-reader" class="is-full-width"></div>
      <button id="scanning-control" type="button" class="button primary outline is-full-width">Scan QR Code</button>
      <script>
        const html5QrCode = new Html5Qrcode("qr-reader");
        const qrCodeSuccessCallback = (decodedText, decodedResult) => {
          if (decodedText.startsWith("{{SITE.BASE_URL}}{{SITE.PATH_PREFIX}}")) { window.location = decodedText }
        };
        const config = { fps: 5, qrbox: { width: 250, height: 250 }, aspectRatio: 1.0, formatsToSupport: [ Html5QrcodeSupportedFormats.QR_CODE ] };
        $('#scanning-control').click(function(){
          if ($(this).text()=="Scan QR Code"){
            html5QrCode.start({ facingMode: "environment" }, config, qrCodeSuccessCallback);            
            $("#logo").hide();
            $(this).text("Stop Camera");
          } else {
            html5QrCode.stop().then((ignore) => {
              $("#logo").show();
              $(this).text("Scan QR Code")
            }).catch((err) => { // Stop failed, handle it.
            });
          }
        })
      </script>
    </section>

    <section>
      <button class="button primary outline is-full-width" onclick="location.href='{{url_for('search')}}'">Text Search for Items/Locations</button>
    </section>

    <section>
      <button class="button primary outline is-full-width" onclick="location.href='{{url_for('list_locs')}}'">List all Locations</button>
    </section>
   
    <section>
      <button class="button primary outline is-full-width" onclick="location.href='{{url_for('create')}}'">Setup a New Location</button>
    </section>

    <section>
      <button class="button primary outline is-full-width" onclick="location.href='{{url_for('print_batch')}}'">Print QR Labels (Multiple)</button>
    </section>

    {% if username != "" %}
    <section>
      <p class="top-margin-05 bottom-margin-05 text-center">Currently logged in as <strong>{{username}}</strong>.</p>
      <p><button class="button primary outline is-full-width" disabled>User Settings</button></p>
      <p><button id="logout-button" class="button outline error is-full-width">Logout</button></p>
      <script>
        $("#logout-button").click(function(){
          if ($(this).text() == "Confirm Logout?"){ location.href='{{url_for('logout')}}' }
          if ($(this).text() == "Logout"){ $(this).text("Confirm Logout?"); setTimeout(function(){ $('#logout-button').text("Logout");}, 2000) }      
        })
      </script>
    </section>

    {% endif %}
    
</main>
{% endblock %}
