{% extends "base.j2.html" %}

{% block main %}
<style>
:root { 

  --page-width: {{template.PAGE.WIDTH}};
  --page-y-margin: {{template.PAGE.Y_MARGIN}};
  --page-x-margin: {{template.PAGE.X_MARGIN}};

  --label-width: {{template.LABEL.WIDTH}};
  --label-height: {{template.LABEL.HEIGHT}};
  --label-x-gutter: {{template.LABEL.X_GUTTER}};
  --label-y-gutter: {{template.LABEL.Y_GUTTER}};
  --label-x-padding: {{template.LABEL.X_PADDING}};
  --label-y-padding: {{template.LABEL.Y_PADDING}};

  --qr-height: {{template.QR_HEIGHT}};
  --qr-font-id: {{template.ID_FONT_SIZE}};
  --qr-font-description: {{template.DESCRIPTION_FONT_SIZE}};

}

/* printing QR code styles */
.page {
  width: var(--page-width);
  padding-top: var(--page-y-margin);
  padding-left: var(--page-x-margin);
  font-size: 0px; 
  margin: 0 auto;  
  display: none;
}

.label{   
  width: var(--label-width);
  height: var(--label-height);
  margin-bottom: var(--label-y-gutter);
  margin-right: var(--label-x-gutter);
  padding: var(--label-y-padding) var(--label-x-padding);  
  overflow: hidden;
  text-align: center;
  display: inline-block;
  background-color: #FFF !important;
  border: solid 1px #BBB;
  border-radius: 0.25cm;
  /* background-color:#aaa; test only */
}

.ident, .description {
  padding: 0cm;  
  text-align: center;
  color: #FFF;
  {% if template.COLORED_BACKGROUNDS %}  
  background-color: var(--color-primary) !important;
  {% else %}
  background-color: #333333 !important;
  {% endif %}
}
.ident { 
  font-size: var(--qr-font-id);
  font-weight: bold; 
  letter-spacing: 0.2em;
  text-transform: capitalize; 
  margin: 0.2cm 0;
  border-top-left-radius: 0.1cm;
  border-top-right-radius: 0.1cm;
}
.description {
  font-size: var(--qr-font-description);
  margin: 0.2cm 0;
  border-bottom-left-radius: 0.1cm;
  border-bottom-right-radius: 0.1cm;
}

.label img{    
  height: var(--qr-height);
}

.ident, .description, #page { 
  -webkit-print-color-adjust: exact; -moz-print-color-adjust: exact; 
  -ms-print-color-adjust: exact; print-color-adjust: exact;
}

/* print styles */
@media print {
  * { margin: 0; padding: 0; }
  .to-print { text-align: unset; }
  .label{   
    border: none;
    border-radius: unset;
    background-color: #FFF !important;    
  }
  .page{   
    display: block;
  }
  .off-canvas {
    display: none; 
  }
}

</style>

{% if not batch %}<p><button class="btn btn-primary" onclick="location.href='{{url_for('view', url_id=locs[0].id)}}'">Finished Printing - Back to View</button></p>
{% else %}


<h4>Labels to Print</h4>
<p><button type="button" class="btn btn-primary" onclick="none();">All None</button> <button type="button" class="btn btn-primary" onclick="decre();">All Less</button> <button type="button" class="btn btn-primary" onclick="incre();">All More</button></p>
<div id="loc-list">
  {% for loc in locs %}
  <div class="item" data-target="{{loc.id}}"><span><strong class="id">{{loc.id}}</strong> | {{loc.description}} <a id="decr" href="#" onclick="decr(this); return false;">-</a><strong id="count">1</strong><a id="incr" href="#" onclick="incr(this); return false;">+</a></div>
  {% endfor %}
</div>  

<div class="form-group form-inline">
  <label class="form-label" for="offset-input">Blank Offset (used already)</label>
  <input type="number" class="form-input" id="offset-input" min="0" max="11" value="0" step="1">
</div>

<script>

  function incr(el) {
    current = parseInt($(el.parentNode.parentNode).find("#count").text());
    current += 1;
    $(el.parentNode.parentNode).find("#count").text(current)
    syn_to_qr();
  }      
  function decr(el) {
    current = parseInt($(el.parentNode.parentNode).find("#count").text());
    if (current > 0 ){
      current -= 1;
      $(el.parentNode.parentNode).find("#count").text(current)
      syn_to_qr();
    }
  }

  function none(){
    $(".item strong#count").each(function(){
      $(this).text(0)
      syn_to_qr();
    })
  }
  function incre(){
    $(".item strong#count").each(function(){      
      current = parseInt($(this).text());
      current += 1;
      $(this).text(current)
      syn_to_qr();      
    })
  }
  function decre(){
    $(".item strong#count").each(function(){
      current = parseInt($(this).text());
      if (current > 0 ){
        current -= 1;
        $(this).text(current)
        syn_to_qr();
      }  
    })

  }



</script>

{% endif %}
<div class="my-4">
<p><strong>Always do a test print on normal paper.<br />When printing disable additional margins in the browser settings!</strong></p>
</div>
<p><button type="button" class="btn btn-primary" onclick="print_qr();">Preview / Print</button></p>

{% endblock %}

{% block login_error_printpage %}
<div class="page">
  {% for loc in locs %}
    <div id="{{loc.id}}" class="label">
      <div class="ident">{{loc.id}}</div>

      {% if template.ADD_LOGO_TO_QR %}
      <img src="{{ qrcode(SITE.BASE_URL + SITE.PATH_PREFIX + '/scan/' + loc.id, error_correction='H', box_size=12, border=0, icon_img='logo.png') }}">
      {% else %}
      <img src="{{ qrcode(SITE.BASE_URL + SITE.PATH_PREFIX + '/scan/' + loc.id, error_correction='H', box_size=12, border=0) }}">
      {% endif %}

      {% if template.ADD_DESCRIPTION_TO_LABEL %}
      <div class="description">{{loc.description}}</div>
      {% endif %}      
      
    </div>
    {% if loop.index % template.LABELS_PER_PAGE == 0 -%}
  </div><div class="page">
    {%- endif %}
  {% endfor %}
  <div id="blank" class="label" style="display: none;"></div>
 
</div> 

{% if batch %}
<script>
  function print_qr(){ window.print(); } 

  $(".page").removeClass('page').addClass('qr-source').hide();
  syn_to_qr();
  
  function syn_to_qr(){
    $(".page").remove();

    qr_i = 0;
    page = $("<div />").attr("class", "page")
    page.appendTo("body");

    for (var i = 0; i < parseInt($("#offset-input").val()); i++ ){ 
      qr_i += 1     
      console.log(qr_i) 
      page.append($(".qr-source #blank").clone().show())  
      if (qr_i == {{template.LABELS_PER_PAGE}}){ 
        console.log("next-page")
        page = $("<div />").attr("class", "page")
        page.appendTo("body"); 
        qr_i = 0;
      }
    }

    $(".item").each(function(){
      
      for (var i = 0; i < parseInt($(this).find("#count").text()); i++ ){
        qr_i += 1      
        page.append($(".qr-source #" + $(this).attr("data-target")).clone())        
        if (qr_i == {{template.LABELS_PER_PAGE}}){ 
          page = $("<div />").attr("class", "page")
          page.appendTo("body"); 
          qr_i = 0;
        } 
      }      
    })
  }

  $("#offset-input").bind('keyup mouseup', function () { syn_to_qr(); });

</script>
{% endif %}
{% endblock %}