{% extends "base.j2.html" %}
{% block main %}
<main>  
  <div class="container">

    <section>
      <div style="margin: 2rem 0;"> 
        <button type="button" class="button primary is-full-width" onclick="print_qr();">Print</button>
      </div> 
    </section>
  
    <section class="to-print">
    <div>
      <div class="ident">{{loc.id}}</div>
      {% if DISABLE_QR_LOGO %}
      <img src="{{ qrcode(SITE.BASE_URL + SITE.PATH_PREFIX + '/scan/' + loc.id, error_correction='H', box_size=12, border=0) }}">
      {% else %}
      <img src="{{ qrcode(SITE.BASE_URL + SITE.PATH_PREFIX + '/scan/' + loc.id, error_correction='H', box_size=12, border=0, icon_img='logo.png') }}">
      {% endif %}
      {% if ADD_DESCRIPTION_TO_QR %}
      <div class="description">{{loc.description}}</div>
      {% endif %}      
    </div>
    <!-- TODO: ADD LAYOUT OPTIONS AND BATCH PRINTING -->
    </section>

    <section>
      <div style="margin: 2rem 0;">
        <button class="button primary is-full-width" onclick="location.href='{{url_for('view', url_id=loc.id)}}'">Finished Printing - Back to View</button>
      </div>
    </section>

  </div>    
</main>  
<script>
  function print_qr(){ window.print(); }
</script>
{% endblock %}
