{% extends "base.j2.html" %}

{% macro location_list_item(loc) -%}
<div class="py-1">
  <div class="card">
    <!-- <div class="card-image">
      <img src="img/osx-el-capitan.jpg" class="img-responsive">
    </div> -->
    <div class="card-header">
      <div class="card-title h5">{% if loc.description != "" %}{{loc.description}}{% else %}No Description - <a href="{{url_for('edit', url_id=loc.id)}}">Edit</a> this!{% endif %}</div>
      <!-- <div class="card-subtitle pt-1"></div> -->
    </div>
    <div class="card-body py-0 my-1">
      <span class="mr-3">{% if loc.location != "" %}{{loc.location}} {% else %}No Location - <a href="{{url_for('edit', url_id=loc.id)}}">Edit</a> this!{% endif %}</span>
      {% if loc.type != "" %}{{loc.type}}{% else %}No Type - <a href="{{url_for('edit', url_id=loc.id)}}">Edit</a> this!{% endif %}
      <br /><small class="label mr-3">{{loc.id}}</small>
      <span style="color: hsl({{(100 - loc.fullness)*1.47 | int}}, 50%, 50%);">          
        {{loc['items'] | length}} item{% if loc['items'] | length != 1 %}s{%endif%},
        {{loc.fullness}}% Used</span>
      <div class="card-title h5 mt-3">{{loc['items'] | length}} Matching Item{% if loc['items'] | length != 1 %}s{%endif%}{% if loc['items'] | length > 0 %}:{%endif%}</div>
      {% for item in loc['items'] | sort %}<div class="item"><span>{{item}}</span></div>{% endfor %} 
      {% if sorted_str == "Last Updated" %}<br /><small class="">Updated: {{loc.last_change}}</small>{% endif %}
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" onclick="location.href='{{url_for('view', url_id=loc.id)}}'">View Location</button>
    </div>    
  </div>
</div>
{%- endmacro -%}

{% block main %}

<h4 class="m-0">Text Search for Items/Locations</h4>

<div class="my-3">

  <form id="search" method="post">
    <input class="form-input form-inline" id="search-input" name="search-input" type="text" placeholder="Enter search query..." value="{{form_data['search-input']}}" />
    <div class="form-group form-inline my-3">
      <select class="form-select " id="search-mode-select" name="search-mode-select">
        <option value="any"{% if form_data['search-mode-select'] == "any" %} selected{% endif %}>Keywords - Match ANY</option>
        <option value="all"{% if form_data['search-mode-select'] == "all" %} selected{% endif %}>Keywords - Match ALL</option>
        <option value="re"{% if form_data['search-mode-select'] == "re" %} selected{% endif %}>Regular Expression</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>

</div>
<div class="mt-9">

  {% if results != None %}
    <h4>{{results.results|length}} Matching Location{% if results.results|length != 1 %}s{% endif %}</h4>
    
    {% for loc in results.results %}  

    {{ location_list_item(loc) }}
    {% endfor %}

  {% elif current_page == 1 %}
    <p>No locations created yet. <a href="{{url_for('create')}}">Create</a> some!</p>      
  {% endif %}  
</div>

{% endblock %}
